/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Basic styles */
body {
  color: #212121;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f0f0f0 url(../img/header.jpg) repeat-x top left;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

div#Page {
  width: 936px;
  margin: 0 auto;
  text-align: left;
}

div#Header {
  height: 99px;
}

div#Header a#Logo {
  width: 450px;
  height: 72px;
  display: block;
  background: transparent url(../img/logo.png) no-repeat top left;
  text-indent: -9999em;
}

div#MainContent {
  width: 666px;
  padding: 17px;
  border: 1px solid #dadada;
  background: #fff;
  float: right;
}

div#Footer {
  width: 666px;
  padding: 18px 0 54px;
  float: right;
  text-align: center;
}

div#TableOfContents {
  float: left;
  width: 207px;
  padding: 87px 0 0 9px
}

/* Main content styling */
div#MainContent a {
  color: #b80028;
  font-weight: bold;
}

div#MainContent strong {
  font-weight: bold;
}

div#MainContent p,
div#MainContent pre,
div#MainContent ul,
div#MainContent ol,
div#MainContent dl,
div#MainContent table {
  padding: 0 0 18px;
}

div#MainContent code {
  font-size: 11px;
  font-family: Monaco, "Andale Mono", Consolas, "Courier New", monospace;
}

div#MainContent h1 {
  padding: 31px 0 27px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

div#MainContent h1 a {
  color: #212121;
  text-decoration: none;
}

div#MainContent h2 {
  padding: 0 0 18px;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
}

div#MainContent h3 {
  padding: 0 0 18px;
  font-weight: bold;
}

div#MainContent h4 {
  padding: 0;
  font-weight: bold;
  color: #666;
}

div#MainContent dl dt {
  font-weight: bold;
  display: block;
}

div#MainContent dl dd {
  display: block;
  padding: 0 0 9px;
}

div#MainContent div.container {
  margin: 0 -9px;
  padding: 4px 9px 3px;
  border: 1px solid #dadada;
  background-color: #ececec;
  overflow: auto;
  width: 664px;
}

div#MainContent div.container div#Breadcrumbs {
  float: left;
  color: #747474;
  font-weight: bold;
}

div#MainContent div.container div#Breadcrumbs a,
div#MainContent div.container div#Breadcrumbs strong {
  font-size: 12px;
}

div#MainContent div.container div#Breadcrumbs strong {
  color: #212121;
}

div#MainContent div.container div#Tools {
  color: #dadada;
  float: right;
  text-align: right;
}

div#MainContent div.container div#Tools>* {
  float: left;
}

div#MainContent div.container div#Tools span {
  padding: 0 18px;
}

div#MainContent div.container div#Tools a.icon_printer {
  padding-left: 26px;
  background: transparent url(../img/printer.png) no-repeat center left;
}

/* Table of contents styling */
div#TableOfContents {
  line-height: 27px;
}

div#TableOfContents h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 21px;
}

div#TableOfContents ul {
  margin-left: -9px;
  width: 216px;
}

div#TableOfContents ul a {
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  display: block;
  padding: 0 9px;
}

div#TableOfContents ul a:hover {
  background-color: #dadada;
}

div#TableOfContents ul li ul a {
  color: #747474;
}

div#TableOfContents ul li a.selected,
div#TableOfContents ul li ul li a.selected {
  background-color: #212121;
  color: #fff;
}

div#TableOfContents ul li ul li a.selected {
  color: #dadada;
}

div#TableOfContents ul li ul {
  padding-bottom: 18px;
  margin-left: 0;
}

/* Footer styling */
div#Footer {
  color: #999;
  font-weight: bold;
}
div#Footer a {
  color: #b80028;
  font-weight: bold;
  margin-right: 18px;
}

