<div id="Page">
	<div id="Header">
		<a href="/" id="Logo" name="Logo"><strong>Exceptional Documentation</strong></a>
	</div>
	<div id="MainContent">
		{{ content }}
	</div>
	<div id="TableOfContents">
		<ul>
			<li>
				<a href="/getting-started/">Getting Started</a>
				<ul>
					<li>
						<a href="/getting-started/rails3">Rails 3</a>
					</li>
					<li>
						<a href="/getting-started/rails2">Rails 2</a>
					</li>
					<li>
						<a href="/getting-started/rack">Rack</a>
					</li>
					<li>
						<a href="/getting-started/sinatra">Sinatra</a>
					</li>
					<li>
						<a href="/getting-started/ruby">Ruby</a>
					</li>
					<li>
						<a href="/getting-started/javascript">Javascript</a>
					</li>
					<li>
						<a href="/getting-started/node">Node.js</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/heroku/">Heroku</a>
				<ul>
					<li>
						<a href="/heroku/rails">Rails</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/extras/">Extras</a>
				<ul>
					<li>
						<a href="/extras/context">Sending extra data to exceptional</a>
					</li>
					<li>
						<a href="/extras/filters">Filtering sensitive data</a>
					</li>
					<li>
						<a href="/extras/integrations/integrations">Integrations</a>
					</li>
				</ul>
				<li>
					<a href="/api/">API</a>
					<ul>
						<li>
							<a href="/api/publish">Publish API</a>
						</li>
						<li>
							<a href="/api/webhooks">Webhooks</a>
						</li>
					</ul>
				</li>
			</li>
		</ul>
	</div>
	<div id="Footer">
		<p>
			Support: <a href="mailto:support@getexceptional.com">support@getexceptional.com</a> Links: <a href="http://github.com/exceptional/exceptional">github</a> <a href="http://getexceptional.com">getexceptional.com</a> <a href="http://status.getexceptional.com">Status</a> <a href="http://blog.getexceptional.com">Blog</a>
		</p>
	</div>
</div>
