<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" charset="utf-8" />	
	<link rel="stylesheet" href="/css/print.css" type="text/css" media="print" charset="utf-8" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-10428626-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script');
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    ga.setAttribute('async', 'true');
	    document.documentElement.firstChild.appendChild(ga);
	  })();
	</script>
	<script src="/js/docs.js"></script>
	<title>Exceptional Docs</title>
</head>

<body>

  <div id="Page">
    
    <div id="Header">
      <a href="/" id="Logo"><strong>Exceptional Documentation</strong></a>
    </div>
    
    <div id="MainContent">
			{{ content }}
    </div>
    
    <div id="TableOfContents">

      <ul>
        <li><a href="/getting-started/">Getting Started</a>
          <ul>
            <li><a href="/getting-started/rails">Rails</a></li>
            <li><a href="/getting-started/rack">Rack</a></li>
	          <li><a href="/getting-started/ruby">Ruby</a></li>
          </ul>
        </li>
        <li><a href="/heroku/">Heroku</a>
          <ul>
            <li><a href="/heroku/rails">Rails</a></li>
          </ul>
        </li>
      </ul>

    </div>
    
    <div id="Footer">
      <p>
        Support: <a href="mailto:support@getexceptional.com">support@getexceptional.com</a>
        Links: <a href="http://github.com/contrast/exceptional">github</a>
        <a href="http://getexceptional.com">getexceptional.com</a>
        <a href="http://status.getexceptional.com">Status</a>
        <a href="http://blog.getexceptional.com">Blog</a>
      </p>
    </div>
    
  </div>
</body>
</html>
